.single-fotter
  %ul.clearfix
    %li.footer-list
      =link_to "#",class:"a" do
        プライバシーポリシー
    %li.footer-list
      =link_to "#",class:"a" do
        フリマ利用規約
    %li.footer-list
      =link_to "#", class: "a" do
        特定商取引に関する表記
  .fotter-pict
    = image_tag 'furima.svg', height: '60', width: '80'