.logout-method {
  float: right;
  .logout-inner{
    margin: 0;
    .logout-content{
      height: 100%;
      width: 700px;
      padding: 65px;
      background-color: #fff;
      &__single {
        width: 320px;
        margin: 0 auto;
        background-color: #ea352d;
        border: 1px solid #ea352d;
        display: block;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3;
        text-align: center;
        &--btn {
        }
        a{
          display:block;
          color: #fff;
          text-decoration: none;

        }
      }
    }
  }
}