.sell {
  width: 700px;
  margin: 0 auto;
  background-color: #ffffff;
  .clearfix::after {
  }
  input:focus, textarea:focus, select:focus {
  }

  & a {
    text-decoration: none;
    &:hover {
    }
  }
  .required::after {
    content: '必須';
    margin-left: 6px;
    background-color: #ec0d0d;
    color: #fff;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 12px;
  }
  .required-gray::after {
    content: '任意';
    background-color: #bfbfbf;
    font-weight: 600;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
  }
  .form {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    padding: 10px 16px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
  }
  &__title {
    height: 97px;
    padding: 32px 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    border-top: solid 1px #ffffff;
  }
  &__image {
    padding: 40px;
    border-top: solid 1px #ffffff;
    & label {
      font-size: 16px;
      font-weight: 600;
    }
    & .max {
      margin-top: 8px;
      line-height: 1.5;
    }
    & input {
      display: none;
    }
    &-select {
      position: relative;
      width: 622px;
      min-height: 162px;
      padding: 60px 40px;
      background-color: #f5f5f5;
      border: 1px dashed #ffffff;
      margin-top: 16px;
      text-align: center;
      line-height: 1.5;
      font-size: 14px!important;
      font-weight: 600;
      letter-spacing: -2.3px;
      vertical-align: middle;
      cursor: pointer;
      &__ul {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        &-text {
          display: inline-block;
          float: left;
          height: 162px;
          width: 20%;
          right: 0px;
          cursor: pointer;
          opacity: 0;
          background-color: #f5f5f5;
          border-left: 1px dashed #ccc;
          border-right: 1px dashed #ccc;
          & li {
            width: 114px;
            height: 116px;
            margin: 0 auto;
            & img {
              object-fit: contain;
            }
          }
          & .btn-box {
            display: none;
            & a {
              display: inline-block;
              float: left;
              width: calc(50% - 1px);
              height: 44px;
              line-height: 44px;
              border: 1px solid #f0f0f0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &__about {
    height: 100%;
    margin-top: 1px;
    padding: 40px;
    & label {
      font-size: 14px;
      font-weight: bold;
    }
    &__description {
      font-size: 16px;
      margin-top: 40px;
      & textarea {
        width: 100%;
        min-height: 142px;
        padding: 10px;
        margin-top: 8px;
        border: 1px solid #ccc;
        line-height: 1.5;
      }
    }
    &__left {
      color: #888;
      font-weight: bold;
    }
    &__right {
      &__wrap{
        margin-top: 40px; 
        &:first-child {
        }
        &-box {
          position: relative;
          width: 620px;
          margin-top: 8px;
          & select {
            padding: 0 16px;
            width: 620px;
            height: 48px;
            background-color: #ffffff;
            border: 1px solid #ccc;
            font-size: 16px;
            cursor: pointer;
            -webkit-appearance: none;
          }
          & .fa-chevron-down {
            position: absolute;
            right: 16px;
            top: 31%;
            color: #888;
            font-size: 20px;
            z-index: 2;
          }
        }
        & .child, .grand_child{
          display: none;
        }
        &__price {
          height: 72px;
          padding-bottom: 24px;
          &-label {
            float: left;
            line-height: 48px;
          }
          &-input {
            text-align: right;
            float: right;
            width: 50%;
            height: 100%;
            padding-left: 120px;
            &-form {
              display: inline-block;
              width: 80%;
              margin-left: 5%;
            }
            & input {
              text-align: right;
              &::placeholder {
                text-align: right;
              }
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
            & .form {
              margin-top: 0;
            }
          }
        }
        &__fee {
          height: 63px;
          padding: 24px 0;
          border-top: 1px solid;
          &-left {
            float: left;
          }
          &-right {
            float: right;
          }
        }
        &__profit {
          height: 83px;
          padding: 24px 0;
          border-top: 1px solid;
          font-weight: 600;
          &-left {
            float: left;
            font-size: 16px;
          }
          &-right {
            float: right;
            font-size: 34px;
          }
        }
      }
    }
    &__bottom {
      & .submit {
        width: 45%;
        margin-top: 40px;
        background-color: #df1010;
        cursor: pointer;
        margin: 24px auto 0;
        color:#ffffff;
        border-radius: 6px;
      }
      & .back {
        width: 45%;
        margin: 24px auto 0;
        background-color: #ccc;
        border-radius: 6px;
        cursor: pointer;
        &:active {
        }
      }
      &-text {
        line-height: 1.5;
        font-size: 12px;
      }
      &-btn {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        &:hover {
        }
      }
    }
  }
}



.single-header-user{
  width:100%;
  height:130px;
  text-align: center;
  position: relative;
  .single-header-user-icon-list{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    width:250px;
    height:80px;
    display: flex;
    padding-left:10px;
  }
}




.single-fotter{
  width:100%;
  height:220px;
  position: relative;
  ul.clearfix{
    width:100%;
    height:70px;
    display: flex;
    justify-content: center;
    line-height: 70px;
    li{
      font-size:12px;
      margin-right:15px;
      display: inline-block;
      text-decoration: none;
      color:black;
      .a{
        display: inline-block;
        text-decoration: none;
        color:black;
      }
    }
  }
  .fotter-pict{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    width:80px;
    height:60px;
  }
  .footer-logo{
    height:20px;
    width:100%;
    margin-top:80px;
    margin-left: 700px;
    font-size:10px;
  }
}

.sell__about__bottom{
margin-bottom: 20px;
}


//商品詳細CSS

.product-details-main{
  width:100%;
  max-height:1700px;
  background-color:#f8f8f8;
  display: flex;
  align-items: center;
  &__top{
    width:700px;
    max-height:1700px;
    background-color: white;
    margin:auto;
    margin-bottom:50px;

    &-name{
      height:40px;
      width:620px;
      font-size:30px;
      margin:auto;
      text-align:center;
      line-height:40px;
      padding:10px 0;
    }
    &-edit{
      font-size: 20px;
      text-align: center;
      display: flex;
      float:right;
      .edit{
        margin-right:20px;
      }
      .destory{
        margin-right:15px;
      }
      a{
        color: gray;
      }
    }
  .product-details-main__top-image{
    height:450px;
    width:620px;
    margin:auto;
    li.main-image{
      margin:auto;
      width:560px;
      height:350px;
      background-image: image-url('gyouza.jpg');
      background-size:560px 350px ;
      display: block;
    }
    .main-sub-list{
      display: flex;
      justify-content: center;
    .main-image1-sub{
      display: block;
      width:140px;
      height:90px;
      background-image: image-url('gyouza.jpg');
      background-size:140px 90px ; 
    }
    .main-image2-sub{
      display: block;
      width:140px;
      height:90px;
      background-image: image-url('niku.jpg');
      background-size:140px 90px ; 
    }
    .main-image3-sub{
      display: block;
      width:140px;
      height:90px;
      background-image: image-url('pasta.jpg');
      background-size:140px 90px ; 
    }
   }
  }
  .item-box-price{
    width:620px;
    height:45px;
    margin:auto;
    text-align: center;
    font-size:46px;
    margin-bottom:10px;
  }
  .item-box-price-details{
    height:20px;
    width:620px;
    margin:auto;
    text-align: center;
    font-size:16px;
    margin-bottom:30px;
    
  }
  .itemdetails{
    line-height:1.5;
    max-height:300px;
    width:620px;
    margin:auto;
    font-size:18px;
  }
  .table{
    height:425px;
    width:620px;
    background-color: red;
    margin:auto;
    margin-top:30px;
    display: flex;
    tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    
    th.name{
      height:50px;
      width:152px;
      background-color: #fafafa;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      padding-left:7px;
    }
    td{
      height:50px;
      width:467px;
      background-color: #fff;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      text-align:left;
      padding-left:5px;
    }
    th.category{
      height:94px;
      width:152px;
      background-color: #fafafa;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      padding-left:7px;
    }
    th.brand{
      height:40px;
      width:152px;
      background-color: #fafafa;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      padding-left:7px;
    }  
    td{
      height:40px;
      width:467px;
      background-color: #fff;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      text-align:left;
      padding-left:5px;
    }
    th.condition{
      height:50px;
      width:152px;
      background-color: #fafafa;
      border: 1px solid #f5f5f5;
      font-size:14px;
      color: #333333;
      padding-left:7px;
    }
   }
  }
  .product-details-comment-while {
    width:700px;
    height:20px;
    margin:auto;
    margin-top:50px;
    background-color:#f8f8f8;
  }
  .product-details-comments {
    width:620px;
    height:360px;
    margin:auto;
    .field-input{
      margin:auto;
      .textarea{
        margin-top:30px;
        margin-bottom:10px;
      }
    }
    .product-details-comments-note{
      width:620px;
      height:58px;
      padding:13px 0px 13px 5px;
      color:#000000;
      font-size:14px;
      background-color: #f8f8f8;
      text-align: left;
      margin-bottom:30px;
    }
    .actions{
      border-radius: 30px;
      text-align: center;
      display: block;
      line-height: 55px;
      width:400px;
      height:55px;
      margin:auto;
      background-color: #3ccace;

      .submit-btn{
        color:#fff;
        font-size: 18px;
        background-color: #3ccace;
        border: none;
      }
      .comment-icon{
        color:#fff;
        font-size: 18px;
      }
    }
  }
 
 }
}
  
a{
  color: #3ccace;
}

a.sell-product{
  width: 130px;
  height: 130px;
  background: #ec0d0d;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  span.selld-product{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
.category-btn{
  color:#3ccace;
  
}